<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<!--<add key="connectionString" value="Data Source=127.0.0.1;Initial Catalog=YX_SMS; Persist Security Info=True;User ID=sa; Password=x123456789" />-->
		<add key="connectionString" value="Data Source=172.20.0.43\lis;Initial Catalog=DBris50; Persist Security Info=True;User ID=sa; Password=sql2k8" />
		<add key="SendSmsUrl" value="" />
	</appSettings>
</configuration>